* {
    margin: 0px;
    padding: 0px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.upload-button {
    height: 24px;
    margin-right: 30px;
    background-color: rgb(14, 209, 1);
}

.upload-button:hover {
    background: #F6F9FE;
    color: #000000;
}

.upload-button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.upload-button:focus {
    outline: none;
    border: 2px solid #4285f4;
}

.play-button {
    height: 24px;
    margin-right: 30px;
    background-color: rgb(14, 209, 1);
}

.play-button:hover {
    background: #F6F9FE;
    color: #000000;
}

.play-button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.play-button:focus {
    outline: none;
    border: 2px solid #4285f4;
}

